@model IEnumerable<HoldTheAllergen.Models.RestaurantIngredientModel>
@section Menu
{
    @Html.Partial("_RestaurantMenu", new HoldTheAllergen.Backend.Models.RestaurantMenuModel {RestaurantId = int.Parse(Request.QueryString["restaurantid"]),RestarurantName= ViewBag.Title})
}
<h2 style="float: left">@ViewBag.Title</h2>
<p style="text-align: right">
    <a href="@Url.Action("Create", new { restaurantId = Context.Request["restaurantid"] })" class="btn btn-primary omg-modal">
        Create New Ingredient</a>
</p>
<table class="table table-striped" id="restaurant-ingredient-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllergenNames)
            </th>
            <th style="width: 75px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllergenNames)
                </td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn omg-modal" title="Update"><i class="icon-pencil">
                        </i></a><a href="@Url.Action("Delete", new { id = item.Id })" class="btn omg-modal" title="Delete"><i
                            class="icon-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="text-align: right">
    <a href="@Url.Action("Create", new { restaurantId = Context.Request["restaurantid"] })" class="btn btn-primary omg-modal">
        Create New Ingredient</a>
</p>
@section Js
{
    <script>var modalSaved = function () { $('#restaurant-ingredient-table').load('@Request.RawUrl #restaurant-ingredient-table'); }</script>
}