<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/content/css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
        .sidebar-nav { padding: 9px 0; }
    </style>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/js")"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">Hold the Allergen</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>
                    </ul>
                    <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                @RenderSection("Menu", false)
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">@RenderBody()</div>
        </div>
        <!--/row-->
        <hr>
        <footer>
            <p>&copy; Company @DateTime.Now.Year</p>
        </footer>
    </div>
    <!--/.fluid-container-->
    @RenderSection("EndOfBody", false)
    <script src="/scripts/jquery.extras.js"></script>
    <script>$(document).ready(function () {$('body').omgModal();});</script>
    @RenderSection("Js", false)
</body>
</html>
